In [23]:
import pandas as pd

In [24]:
import numpy as np

In [25]:
df = pd.read_csv('C:/Users/SA RAVI/Desktop/MIT/ALA/moviereviews.csv')

In [26]:
df

,movie,review
0,The Lord of the Rings The Two Towers,remarkable display of fantasy action powerful ...
1,Inception,implanting stealing idea destroy gripping acti...
2,Spiderman Across the spider verse,mind bending wild action sequences intimate em...
3,The Dark Knight,Best live action portrayal beat organized crim...
4,Three colors red,mesmerising friendship turned love profound un...
5,It happened one night,Romantic comedy screwball comedy enduring tale...
6,In the Mood for Love,Neighbors solace bonding affair predicament sp...
7,Before Sunrise,blossoming love know each other chance encount...
8,Gone with the wind,epic romance greatest romantic film ever made ...
9,Eternal Sunshine of the Spotless Mind,Length people go finding love of life emotiona...
10,The Shawshank Redemption,movie about friendship life fight to be good p...
11,Raging Bull,brutal boxing sports movie turbulent life outs...
12,Lawrence of Arabia,classic adventure war movie psychological dram...

In [27]:
df = df.drop_duplicates(subset=['movie', 'review'])
df.head()

,movie,review
0,The Lord of the Rings The Two Towers,remarkable display of fantasy action powerful ...
1,Inception,implanting stealing idea destroy gripping acti...
2,Spiderman Across the spider verse,mind bending wild action sequences intimate em...
3,The Dark Knight,Best live action portrayal beat organized crim...
4,Three colors red,mesmerising friendship turned love profound un...

In [28]:
from collections import Counter

In [29]:
#vectors
rev = []
for review in df['review']:
    words = review.split()
    vector = Counter(words)  
    rev.append(vector)

In [37]:
# array
numRevVec = np.array([list(vector.values()) for vector in rev])

C:\Users\SA RAVI\AppData\Local\Temp\ipykernel_1832\3172519731.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  numRevVec = np.array([list(vector.values()) for vector in rev])

In [43]:
fullWords = set()
for review in df['review']:
    words = review.split()
    fullWords.update(words)

# movie review vectors
movReview = {}
for i, row in df.iterrows():
    movie = row['movie']
    review = row['review'].split()
    reviewVector = np.array([1 if word in review else 0 for word in fullWords])
    movReview[movie] = reviewVector

In [44]:
def dotproduct(v1, v2):
    result = 0
    for word in v1:
        if word in v2:
            result += v1[word] * v2[word]
    return result

In [45]:
similarities = {}
for movie1 in movReview:
    for movie2 in movReview:
        if movie1 != movie2:
            similarity = dotproduct(movReview[movie1], movReview[movie2])
            similarities[(movie1, movie2)] = similarity

In [46]:
top3similarpairs = sorted(similarities.items(), key=lambda x: x[1], reverse=True)[:3]
top3similarpairs

[(('The Lord of the Rings The Two Towers', 'Inception'), 0),
 (('The Lord of the Rings The Two Towers',
   'Spiderman Across the spider verse'),
  0),
 (('The Lord of the Rings The Two Towers', 'The Dark Knight'), 0)]

In [48]:
for pair, similarity in top3similarpairs:
    print(f"Movies: {pair[0]} and {pair[1]}, Similarity: {similarity}")

Movies: The Lord of the Rings The Two Towers and Inception, Similarity: 0
Movies: The Lord of the Rings The Two Towers and Spiderman Across the spider verse, Similarity: 0
Movies: The Lord of the Rings The Two Towers and The Dark Knight, Similarity: 0